.App {
  text-decoration: none;
  text-align: center;
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;
  grid-template-areas: "l m r";
  padding-top: 17vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

#nav-bar {
  background-image: url('./teamIndustrialHeader.jpg');
  list-style-type: none;
  text-decoration: none;
  background-color: #105759;
  display: flex;
  justify-content:left;
  align-items: center;
  position: absolute;
  height: 17vh;
  width: 100vw;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
}

.main-content {
  grid-area: m;
  /* padding-top: .25vh; */
}

/* .App-title {
  font-size: 1.5em;
} */
/*
.App-intro {
  font-size: large;
} */

.image-tag {
  margin: .5vw;
  height: 33vh;
  width: 33vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.side-bar-div {
  text-decoration: none;
}

#side-bar {
  list-style-type: none;
  text-decoration: none;
  grid-area: l;
  width: 20vw;
  position: sticky;
  top: 0;
  /* margin-top: 15vh; */
  height: calc(100vh);
  overflow-y: scroll;
  background-color: #bf163b;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  /* align-content: center; */
}
#right-side-bar {
  list-style-type: none;
  text-decoration: none;
  grid-area: r;
  width: 30vw;
  position: sticky;
  top: 0;
  /* margin-top: 15vh; */
  height: calc(100vh);
  overflow-y: scroll;
  background-color: #bf163b;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  /* align-content: center; */
}
.side-bar-div {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 1rem 0;
    width: 60%;
}

label {
    display: inline-block;
    font-size: .8rem;
    width: 20%;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

.item {
  margin: 1vw;
}

.side-bar-div {
  /* display: flex; */
  margin: .5vh;
  /* justify-content: flex-start; */
  text-align: left;
  border-bottom: 2px solid #00004d;
}

.job-details {
  margin: .1vmin;
  text-align: left;
}

button {
  background-color: #5b5c5e;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: .1vmin;
  border-radius: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  /* color: grey */
}

input {
  margin: .25vw;
}

a:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  font-size: 18px;
}

.close-button {
position: relative;
top: auto ;
outline:5px solid #fff
}

/* .create-job {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
} */

/* .create-job-item {
  grid-column: 1/2;
  grid-row: 1/2;
} */

a:visited {
    color: white;
}
