.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20vw 70vw 10vw;
  grid-template-areas: "l m r";
  padding-top: 15vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

#nav-bar {
  background-color: #00008B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 15vh;
  width: 100vw;
  color: white;
}

.main-content {
  grid-area: m;
  padding-top: 15vh;
}

/* .App-title {
  font-size: 1.5em;
} */
/*
.App-intro {
  font-size: large;
} */

.image-tag {
  margin: 1vw;
  height: 400px;
  width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#side-bar {
  grid-area: l;
  width: 20vw;
  position: fixed;
  margin-top: 15vh;
  height: calc(100vh - 15vh);
  overflow-y: scroll;
  background-color: #778899;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 1rem 0;
    width: 60%;
}

label {
    display: inline-block;
    font-size: .8rem;
    width: 20%;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

.item {
  margin: 1vw;
}
